<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/alexis-portrait.jpg' | relative_url }}" alt="Alexis Rondeau">
      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">
        Hi there, I’m Alexis. I'm a Full-Stack Software Developer with a Customer-First Mindset.
      </h2>
      <br>
      <h3 class="subtitle--light">
        I can help you craft and ship software that your customers will love and want to pay for.
      </h3>
 </div>
  </div>
</section>
