<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">
    <div class="about__image">
      <img src="{{ '/images/alexis-portrait.jpg' | relative_url }}" alt="Alexis Rondeau" style="border-radius: 50%">
      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="subtitle--light">
        Hi there! I'm Alexis. A Full-Stack Software Developer with a Customer-First Mindset.
      </h2>
      <h2 class="title">
        I help <span class="highlight">SME innovation teams build and sell digital services</span> their customers love and pay for
      </h2>
 </div>
  </div>
</section>
